/* You're not supposed to be here either! */

body {
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    font-family: sans-serif;
}

.container {
    background-color: #f0f0f0;
    width: 90%;
    max-width: 900px;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

@media (min-width: 768px) {
    .container {
        width: 70%;
        max-width: 650px;
        min-width: 500px;
    }
}

h1 {
    color: #333;
}

p {
    color: #444;
}

img {
  display: block;
  margin-inline: auto;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.carousel {
  outline: 3px solid #555555;
  border-radius: 8px;
  padding: 5px;
}

.carousel-buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.carousel-track {
  position: relative;
  overflow: hidden;
}

.carousel-button {
  background-color: #444;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.large-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.show-all {
  width: 100%;
}

.carousel-button.disabled {
  background-color: #939393;
}

.step {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  text-align: center;
  transition: opacity 0.4s ease;
  margin-bottom: 64px;
}

.step.showing {
  display: block;
}

.step img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.expandable {
  cursor: zoom-in;
  z-index: 1;
}

img.expandable.expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 95vw;
  max-height: 90vh;
  transform: translate(-50%, -50%);
  z-index: 9999;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  cursor: zoom-out;
  background: white;
  border-radius: 8px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 8px;
  border-radius: 8px;
  text-align: center;
}

.info {
  padding: 20px;
  background-color: #008a12;
  color: white;
  margin-bottom: 8px;
  border-radius: 8px;
  text-align: center;
}

code {
  background:rgba(169, 169, 169, 0.5);
  border-radius: 3px;
  padding: 2px;
}